* {
  box-sizing: border-box;
}

body {
  background: url(https://newcriterion.com/cm/images//Marshall_bach2.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}
h1 {
  color: teal;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

.box {
  text-align: center;
}
